# Antidote Studios.
# https://antidote-studios.itch.io/pixelart-doors-keys-chests-and-traps/
door01.png
door02.png
door03.png
door04.png
door05.png
door06.png
door07.png
door08.png


# PHDev2024
# https://phdev2024.itch.io/iceboulder-32x32/
# https://phdev2024.itch.io/landforms/
# https://phdev2024.itch.io/fireball-32x32-gif/
# https://phdev2024.itch.io/ice-32x32/
fireball.zip
iceboulder.png
icecube.png
icemountain.png

# jellybean
# https://kepx.itch.io/forrest-assets-rpg-top-down-pixel-art-asset-pack-16x16/
pebble.png
pebble2.png
rockp1.png
rockpebble1.png
treestump.png
treestump2.png
treestump3.png
treestump4.png


# Gabl (halloween pack)
# https://gabl18.itch.io/halloween-asset-pack
tomb2.png
hskull1.png
tomb5.png
tomb4.png
tomb3.png
tomb1.png
hbone1.png
hbone2.png
hrib1.png
hskullbone1.png
hxbone2.png
hxbone1.png
hskullbone2.png
