name: Emscripten C++ WebAssembly Build

on:
  push:
    branches:
      - master
      - develop
    tags:
      - "v*"
  pull_request:
    branches:
      - master

jobs:
  build-wasm:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0 # fetch full history including tags

      - name: Update build information
        run: |
          bin/setbuild.sh
          cat src/build.h

      - name: Set up Emscripten SDK
        uses: mymindstorm/setup-emsdk@v12
        with:
          version: "latest"

      - name: Verify Emscripten Setup
        run: |
          emcc --version
          em++ --version

      - name: build SDL3 from source
        run: |
          git submodule update --init --recursive
          ls external/SDL3 -l
          python3 bin/ems/patch-xmp.py
          bin/ems/build-xmp.sh
          bin/ems/build-sdl3.sh
          bin/ems/build-sdl3-mixer.sh
          rm data/gamecontrollerdb.txt

      - name: Build mapzutil
        run: |
          echo "Preparing mapzutil"
          cd tools/mapzutil
          mkdir -p build
          python3 bin/gen.py
          make
          cp build/mapzutil ../../bin

      - name: Strip private maps
        run: |
          echo "Strip private maps"
          bin/mapzutil -s data/levels.mapz

      - name: Build your app
        run: |
          echo "Preparing itch.io version"
          mkdir -p build/cs3
          cp data/musics/*.ogg build/cs3
          python3 bin/gen.py emsdl3 -s
          make
          cp build/cs3v2.* build/cs3
          cp LICENSE build/cs3
          mv build/cs3/cs3v2.html build/cs3/index.html
          echo "Preparing local version"
          mkdir -p ./build/local
          cp ./build/cs3v2.* ./build/local
          gzip  ./build/local/*.data ./build/local/*.wasm
          mv ./build/local/cs3v2.data.gz ./build/local/cs3v2.data
          mv ./build/local/cs3v2.wasm.gz ./build/local/cs3v2.wasm
          cp build/cs3/*.ogg ./build/local

      - name: Upload WebAssembly Build Artifacts (itchio)
        uses: actions/upload-artifact@v4
        with:
          name: cs3-itchio
          path: |
            build/cs3/*
          retention-days: 7

      - name: Upload WebAssembly Build Artifacts (local)
        uses: actions/upload-artifact@v4
        with:
          name: cs3-local
          path: |
            build/local/*
          retention-days: 7
