name: Build Windows App

on:
  push:
    branches:
      - "master"
      - "develop"
    tags:
      - "v*"
  pull_request:
    branches: [github-ci]

jobs:
  build-windows:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install build dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            mingw-w64 \
            build-essential \
            autoconf \
            automake \
            libtool \
            pkg-config \
            wget \
            unzip \
            zip \
            python3 \
            git \
            make

      - name: Build mapzutil
        run: |
          echo "Preparing mapzutil"
          cd tools/mapzutil
          mkdir -p build
          python3 bin/gen.py
          make
          cp  build/mapzutil ../../bin

      - name: Strip private maps
        run: |
          echo "Strip private maps"
          bin/mapzutil -s data/levels.mapz

      - name: Build your app
        run: |
          python3 bin/gen.py mingw32-sdl3 -s
          mkdir -p build
          make build_libs
          make
          mkdir -p setup/data
          cp -R data/* setup/data
          cp build/*.exe setup
          cp -R techdocs/legal/* setup
          cp techdocs/*.md setup
          PTHREAD_DLL=$(find /usr/x86_64-w64-mingw32/ | grep libwinpthread-1.dll | head -n 1)
          echo PTHREAD_DLL=$PTHREAD_DLL
          cp $PTHREAD_DLL setup
          cp local/mingw/bin/*.dll setup
          ls -l setup

      - name: Compress to zip file
        run: |
          cd setup
          zip -r Creepspread_III_mingw-win32.zip *
          ls -l
          mv Creepspread_III_mingw-win32.zip ..
          ls -l ..

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            LICENSE
            *.zip

      - name: Upload Windows executable
        uses: actions/upload-artifact@master
        with:
          name: cs3v2-mingw-win32
          path: setup
          retention-days: 7
