name: Build Windows App

on:
  push:
    branches:
      - "master"
      # - "develop"
    tags:
      - "v*"
  pull_request:
    branches: [github-ci]

jobs:
  build-windows:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0 # fetch full history including tags

      - name: Update build information
        run: |
          bin/setbuild.sh
          cat src/build.h

      - name: Install build dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            mingw-w64 \
            build-essential \
            autoconf \
            automake \
            libtool \
            pkg-config \
            wget \
            unzip \
            zip \
            python3 \
            git \
            make \
            nsis

      - name: Build mapzutil
        run: |
          echo "Preparing mapzutil"
          cd tools/mapzutil
          mkdir -p build
          python3 bin/gen.py
          make
          cp  build/mapzutil ../../bin

      - name: Strip private maps
        run: |
          echo "Strip private maps"
          bin/mapzutil -s data/levels.mapz

      - name: Build your app
        run: |
          python3 bin/gen.py mingw32-sdl3 -s
          mkdir -p build
          make build_libs
          make

      - name: Make Installer
        run: |
          packages/bin/makesetup.sh
          makensis packages/data/win32/cs3-setup.nsi
          mkdir -p release
          cp build/*Setup.exe release
          cp LICENSE release

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            release/*

      - name: Upload Windows executable
        uses: actions/upload-artifact@master
        with:
          name: cs3v2-mingw-win32
          path: release
          retention-days: 7
